.s-search {
	&-input {
		padding: 8px 15px;
		border: none;
		border-radius: 20px;
		background-color: #2c2c2c;
		color: #e0e0e0;
		width: 300px;
		transition: all 0.3s ease;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		&::placeholder {
			color: #888;
		}

		&:focus {
			background-color: #333;
		}
	}
}

@media (max-width: 998px) {
	.s-search {
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		&-input {
			width: 100%;
			padding: 8px 12px;
		}
	}
}
