.s-search {
	&-input {
		padding: 10px 15px;
		border: none;
		border-radius: 20px;
		background-color: var(--input-gray);
		color: var(--input-text-gray);
		width: 300px;
		transition: all 0.3s ease;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		&::placeholder {
			color: var(--light-gray);
		}

		&:focus {
			background-color: var(--input-gray-focus);
		}
	}
	@media (max-width: 998px) {
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		&-input {
			width: 100%;
			padding: 12px 12px;
		}
	}
}
