:root {
	--yellow: #ffd700;
	--dark-yellow: #d1b500;
	--gray: #ffffff1a;
	--dark-gray: #121212;
	--light-gray: #ccc;
	--input-gray: #2c2c2c;
	--input-gray-focus: #333;
	--input-text-gray: #e0e0e0;
	--card-dark-gray: #1f1f1f;
	--info-light-gray: #ddd;
	--green: #4caf50;
	--orange: #ff9800;
	--red: #f44336;
}
